
<header><%= link_to image_tag("Froogle.png", class: "head_img"), "/store_items"%>
  <nav class = 'nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            </nav>
            <% if current_user.nil? %> 
                <nav class = 'nav'>
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                </nav>
             <% else %>
             <nav class -= 'nav'>
               <a class = 'nav'> <%= current_user.username %> </a>
               <form action="<%= session_url %>" method="post" class = 'nav'>
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout">
                </form>
                 <% end %>
            </nav></header>
<section>
<h2>Sign In</h2>
 <%= render "shared/errors" %>
  

<form action = "<%=session_url%>", method = 'post'>
<input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    Username: <input type="text" name = 'username'>
    Password: <input type="text" name = 'password'>
    <input type = 'submit'>
</form>

</section>