<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <head>
        <title>About Froogle</title>
        
    </head>
        
        <header>
            <nav class = 'nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            </nav>
            <% if current_user.nil? %> 
                <nav class = 'nav'>
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                </nav>
             <% else %>
             <nav class -= 'nav'>
               <a class = 'nav'> <%= current_user.username %> </a>
               <form action="<%= session_url %>" method="post" class = 'nav'>
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout">
                </form>
                 <% end %>
            </nav>
               
            
        </Header>
            </div>
       
        <%= link_to image_tag("Froogle.png", class: "head_img"), "/store_items"%>
            
        </header>
    <div class = 'black'></div>
    <section class = 'move'>
        <p class = 'center'>
            Our goal is to give the world <strong class = 'tough_3'>access</strong> to the best <strong class = 'tough'>deals</strong> out there.  We do this by brining the deals to you at the click of a button!  Why spend when you can <strong class = 'tough_2'>save</strong> with Froogle?
        </p>
    </section>

    <section class = 'move'>
    <%= image_tag("money.jpg", alt:"money", class: 'img_2') %>
        
    </section>
    
