
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= render 'shared/errors' %>
       <Header>
        
            <nav class = 'left_nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            </nav>
         <nav class = 'right_nav'>
                <% if current_user.nil? %> 
               
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                
             <% else %>
              <p class = "name"> Welcome <%= current_user.username%>! </p>
                
               <form action="<%= session_url %>" method="post">
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout" class = 'buttons_2'>
                </form>
                
                 <% end %>
        </nav>
               
            
        </Header>
<body>
        <section class ='section_1'>
            
            <%= image_tag("Froogle.png", alt:"logo", class: 'img_1') %>
        </section>
        
        <section class='section_2'>
        <form action = '/store_items/:id' method = 'show'>
            <input type="text" class='sb' name = "name" value = "<%#{}%>">
     
            </section>
            <section class = 'gs'>
            
            <input type = 'submit' value="Froogle Search" class= 'buttons'>
            
        </form> 
             <form action = "/store_items/random/" method = 'get' class = 'do'>
                    <input type='submit' value="$ Save Me Some $" class = 'buttons' >
            </form>

        </section>
        <footer>
            <p class='disc'>This website is a portfolio project inspired by Google.<p>
            <p class='disc'>Created by Syed A.K Mohiuddin<p>
            <p class='disc'>Items available at Froogle: <strong >FunStation 5, Toaster, Diapers-400pack, Ybox 1000, Shirt (white)</strong><p>
                 
                <nav class='bottom_nav'>
                    <a href="/store_items/store_front">Hot Discounts</a> 
                    <a href="/store_items/store_front">Coupons</a> 
                    <a href="/store_items/about">About Froogle</a>
                </nav>
        </footer>
</body>