
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= render 'shared/errors' %>
       <Header>
        
            <nav class = 'left_nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            </nav>
            <% if current_user.nil? %> 
                <nav class = 'right_nav'>
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                </nav>
             <% else %>
             <nav class -= 'right_nav_logged'>
               <a class = 'right_nav_logged'> <%= current_user.username %> </a>
               <form action="<%= session_url %>" method="post" class = 'logout_button'>
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout">
                </form>
                 <% end %>
            </nav>
               
            
        </Header>
<body>
        <section class ='section_1'>
            
            <%= image_tag("Froogle.png", alt:"logo", class: 'img_1') %>
        </section>
        
        <section class='section_2'>
        <form action = '/store_items/:id' method = 'show'>
            <input type="text" class='sb' name = "name" >
     
            </section>
            <section class = 'gs'>
            
            <input type = 'submit' value="Froogle Search" class= 'buttons'>
            <input type='submit' value="$ Save Me Some $" class = 'buttons' >
           
        </form> 
        </section>
        <footer>
            <p class='disc'>This website is a portfolio project inspired by Google.<p>
            <p class='disc'>Created by Syed A.K Mohiuddin<p>
            <p class='disc'>Please type in the search terms <strong>exactly</strong> as shown below to get results.<p>
                 <p class='disc'><strong >FunStation 5, Toaster, Diapers-400pack, Ybox 1000, T-Shirt (white)</strong><p>
                <nav class='bottom_nav'>
                    <a href="">Hot Discounts</a> 
                    <a href="">Coupons</a> 
                    <a href="/users/about">About Froogle</a>
                </nav>
        </footer>
</body>