<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<header class = 'fix'> 
           
              <nav class = 'nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            
            <% if current_user != nil %> 
               
               <form action="<%= session_url %>" method="post" class = 'w'>
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout">
                </form>
                <strong> <a> <%= current_user.username %> </a></strong>
             <% else %>
                <nav class = 'nav'>
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                </nav>
                 <% end %>
            </nav>
            <div class = 'black'></div>
          
       
             <%= link_to image_tag("Froogle.png", class: "head_img"), "/store_items"%>

</header>
           
           
           <section id = 'top' class = "top">
            
           </section>

              <section id = 'middle' class = "middle">
                
            </section>

                


                
                 

        
          

                <footer>
                </footer>