 
<header>
      <%= link_to image_tag("Froogle.png", class: "head_img"), "/store_items"%>
  <nav class = 'nav'>
                <a href="/store_items/about">About</a> 
                <a href=<%="/store_items/store_front"%>>Store</a> 
            
            <% if current_user.nil? %> 
                
                <a href="/users/new">Sign Up</a> 
                <a href="<%= new_session_url%>">Sign in</a> 
                
            <% else %>
               <a> <%= current_user.username %> </a>
               <form action="<%= session_url %>" method="post" >
                 <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Logout">
                </form>
            <%end%>
  </nav>
</header>

<section class = 'move_2'>
  <p class = 'decor'>Create Account</p>
    <%= render 'shared/errors' %> 

    <form action="<%= users_url %>" method="post" class = 'cool'>
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
 <p>Username: <input type="text" name = "user[username]" class = "text_bar" id="user_username" value= "<%=@user.username%>"> </p>
  <br>
  <p> Password: <input type="password" name = "user[password]" class = 'text_bar' id="user_password" value="<%=@user.password%>"> </p> 
  <br>
  <p><a class = 'link_dec' href = '/session/new'> Already have an account?</a></p>
  <br>
  <p class = 'cool'><input type = 'submit' class = 'buttons_2'></p>
    </form>
</section>


